<script src="/static/js/rounds/369.js"></script>
<div id="round_3-6-9" class="round">
	<div>
		<div class="host">
			<h4 id="round_3-6-9_question" class="question">Vraag</h4>
			<p id="round_3-6-9_answer" class="answer">Antwoord</p>
			<div class="controls">
				<button class="correct" onclick="javascript:dsmtw.correct();">Goed</button> <button onclick="javascript:dsmtw.pass();">Fout</button>
			</div>
		</div>
	</div>
	<div id="round_3-6-9_game_field">
		<div id="369_circle_0" class="ThreeSixNine circle transparent small" dsmtw-question-number="1">
			<p class="score" id="369_0">1</p>
			<div id="369_circlebackground_0" class="background"></div>
		</div>
		<div id="369_circle_1" class="ThreeSixNine circle transparent small" dsmtw-question-number="2">
			<p class="score" id="369_1">2</p>
			<div id="369_circlebackground_1" class="background"></div>
		</div>
		<div id="369_circle_2" class="ThreeSixNine circle transparent small raised" dsmtw-question-number="3">
			<p class="score" id="369_2">3</p>
			<div id="369_circlebackground_2" class="background"></div>
		</div>
		<div id="369_circle_3" class="ThreeSixNine circle transparent small" dsmtw-question-number="4">
			<p class="score" id="369_3">4</p>
			<div id="369_circlebackground_3" class="background"></div>
		</div>
		<div id="369_circle_4" class="ThreeSixNine circle transparent small" dsmtw-question-number="5">
			<p class="score" id="369_4">5</p>
			<div id="369_circlebackground_4" class="background"></div>
		</div>
		<div id="369_circle_5" class="ThreeSixNine circle transparent small raised" dsmtw-question-number="6">
			<p class="score" id="369_5">6</p>
			<div id="369_circlebackground_5" class="background"></div>
		</div>
		<div id="369_circle_6" class="ThreeSixNine circle transparent small" dsmtw-question-number="7">
			<p class="score" id="369_6">7</p>
			<div id="369_circlebackground_6" class="background"></div>
		</div>
		<div id="369_circle_7" class="ThreeSixNine circle transparent small" dsmtw-question-number="8">
			<p class="score" id="369_7">8</p>
			<div id="369_circlebackground_7" class="background"></div>
		</div>
		<div id="369_circle_8" class="ThreeSixNine circle transparent small raised" dsmtw-question-number="9">
			<p class="score" id="369_8">9</p>
			<div id="369_circlebackground_8" class="background"></div>
		</div>
		<div id="369_circle_9" class="ThreeSixNine circle transparent small" dsmtw-question-number="10">
			<p class="score" id="369_9">10</p>
			<div id="369_circlebackground_9" class="background"></div>
		</div>
		<div id="369_circle_10" class="ThreeSixNine circle transparent small" dsmtw-question-number="11">
			<p class="score" id="369_10">11</p>
			<div id="369_circlebackground_10" class="background"></div>
		</div>
		<div id="369_circle_11" class="ThreeSixNine circle transparent small raised" dsmtw-question-number="12">
			<p class="score" id="369_11">12</p>
			<div id="369_circlebackground_11" class="background"></div>
		</div>
		<div id="369_circle_12" class="ThreeSixNine circle transparent small" dsmtw-question-number="13">
			<p class="score" id="369_12">13</p>
			<div id="369_circlebackground_12" class="background"></div>
		</div>
		<div id="369_circle_13" class="ThreeSixNine circle transparent small" dsmtw-question-number="14">
			<p class="score" id="369_13">14</p>
			<div id="369_circlebackground_13" class="background"></div>
		</div>
		<div id="369_circle_14" class="ThreeSixNine circle transparent small raised" dsmtw-question-number="15">
			<p class="score" id="369_14">15</p>
			<div id="369_circlebackground_14" class="background"></div>
		</div>
	</div>
</div>