<script src="/static/js/rounds/CollectiefGeheugen.js"></script>
<div id="round_Collectief geheugen" class="round Collectief geheugen">
	<div id="round_Collectief geheugen_answers" class="row justify-content-center">
		<div class="col-4 answers">
			<p class="answer" onclick="">
				<span class="score" id="round_Collectief geheugen_answer_score_0"></span>
				<span class="text" id="round_Collectief geheugen_answer_0">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Collectief geheugen_answer_score_1"></span>
				<span class="text" id="round_Collectief geheugen_answer_1">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Collectief geheugen_answer_score_2"></span>
				<span class="text" id="round_Collectief geheugen_answer_2">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Collectief geheugen_answer_score_3"></span>
				<span class="text" id="round_Collectief geheugen_answer_3">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Collectief geheugen_answer_score_4"></span>
				<span class="text" id="round_Collectief geheugen_answer_4">Antwoord</span>
			</p>
		</div>
	</div>
</div>