<script src="/static/js/rounds/Finale.js"></script>
<div id="round_Finale" class="round Finale">
	<div id="round_Finale_answers" class="row justify-content-center">
		<div class="host">
			<h4 id="round_Finale_question" class="question">Vraag</h4>
		</div>
		<div class="col-12 answers text-center">
			<p class="answer" onclick="">
				<span class="score" id="round_Finale_answer_score_0">20</span>
				<span class="text" id="round_Finale_answer_0">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Finale_answer_score_1">20</span>
				<span class="text" id="round_Finale_answer_1">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Finale_answer_score_2">20</span>
				<span class="text" id="round_Finale_answer_2">Antwoord</span>
			</p>
		</div>
		<div class="col-12 answers text-center">
			<p class="answer" onclick="">
				<span class="score" id="round_Finale_answer_score_3">20</span>
				<span class="text" id="round_Finale_answer_3">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Finale_answer_score_4">20</span>
				<span class="text" id="round_Finale_answer_4">Antwoord</span>
			</p>
		</div>
	</div>
</div>