<script src="/static/js/rounds/Galerij.js"></script>
<div id="round_Galerij" class="round Galerij">
	<div id="round_Galerij_slideshow_controls" class="host">
		<p id="round_Galerij_answer" class="answer">Antwoord</p>
		<button class="correct" id="round_Galerij_correct_button">Gevonden</button>
		<button onclick="javascript:dsmtw.pass();">Pas</button>
	</div>
	<div id="round_Galerij_answers" class="row justify-content-center host">
		<div class="col-6 answers">
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_0">10</span>
				<span class="text" id="round_Galerij_answer_0">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_1">10</span>
				<span class="text" id="round_Galerij_answer_1">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_2">10</span>
				<span class="text" id="round_Galerij_answer_2">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_3">10</span>
				<span class="text" id="round_Galerij_answer_3">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_4">10</span>
				<span class="text" id="round_Galerij_answer_4">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_5">10</span>
				<span class="text" id="round_Galerij_answer_5">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_6">10</span>
				<span class="text" id="round_Galerij_answer_6">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_7">10</span>
				<span class="text" id="round_Galerij_answer_7">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_8">10</span>
				<span class="text" id="round_Galerij_answer_8">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Galerij_answer_score_9">10</span>
				<span class="text" id="round_Galerij_answer_9">Antwoord</span>
			</p>
		</div>
	</div>
</div>