<script src="/static/js/rounds/OpenDeur.js"></script>
<div id="round_Open deur" class="round OpenDeur">
	<div id="round_Open deur_questioneers" class="row">
	</div>
	<div id="round_Open deur_answers" class="row justify-content-center">
		<div class="host">
			<h4 id="round_Open deur_question" class="question">Vraag</h4>
		</div>
		<div class="col-4 answers">
			<p class="answer" onclick="">
				<span class="score" id="round_Open deur_answer_score_0">20</span>
				<span class="text" id="round_Open deur_answer_0">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Open deur_answer_score_1">20</span>
				<span class="text" id="round_Open deur_answer_1">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Open deur_answer_score_2">20</span>
				<span class="text" id="round_Open deur_answer_2">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Open deur_answer_score_3">20</span>
				<span class="text" id="round_Open deur_answer_3">Antwoord</span>
			</p>
		</div>
	</div>
</div>