<script src="/static/js/rounds/Puzzel.js"></script>
<div id="round_Puzzel" class="round Puzzel">
	<div id="round_Puzzel_puzzle" class="row text-center justify-content-center pb-4">
		<div class="col-6">
			<table id="round_Puzzel_puzzle_table" cellpadding="25">
				<tr>
					<td id="round_Puzzel_puzzle_keyword_0">trefwoord 1</td>
					<td id="round_Puzzel_puzzle_keyword_1">trefwoord 2</td>
					<td id="round_Puzzel_puzzle_keyword_2">trefwoord 3</td>
				</tr>
				<tr>
					<td id="round_Puzzel_puzzle_keyword_3">trefwoord 4</td>
					<td id="round_Puzzel_puzzle_keyword_4">trefwoord 5</td>
					<td id="round_Puzzel_puzzle_keyword_5">trefwoord 6</td>
				</tr>
				<tr>
					<td id="round_Puzzel_puzzle_keyword_6">trefwoord 7</td>
					<td id="round_Puzzel_puzzle_keyword_7">trefwoord 8</td>
					<td id="round_Puzzel_puzzle_keyword_8">trefwoord 9</td>
				</tr>
				<tr>
					<td id="round_Puzzel_puzzle_keyword_9">trefwoord 10</td>
					<td id="round_Puzzel_puzzle_keyword_10">trefwoord 11</td>
					<td id="round_Puzzel_puzzle_keyword_11">trefwoord 12</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="round_Puzzel_answers" class="row justify-content-center">
		<div class="col-4 answers">
			<p class="answer" onclick="">
				<span class="score" id="round_Puzzel_answer_score_0">30</span>
				<span class="text" id="round_Puzzel_answer_0">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Puzzel_answer_score_1">30</span>
				<span class="text" id="round_Puzzel_answer_1">Antwoord</span>
			</p>
			<p class="answer" onclick="">
				<span class="score" id="round_Puzzel_answer_score_2">30</span>
				<span class="text" id="round_Puzzel_answer_2">Antwoord</span>
			</p>
		</div>
	</div>
</div>